@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);

#ininav {
	position: fixed;
	z-index: 999;
}

#hello {
	 width: 100%;
	 height: 70%;
	 padding-top: 150;
	 padding-bottom: 150px;
	 position: relative;
	 z-index: 9999;
	 background-color: #f2f2f2;
	 margin: 0px;
}

 #hello h1 {
	 color: #F781F3;
}

#protocol {
	background-color: #6df383;
}

#primer {
	padding-bottom: 10%; 
}

#document-img {
	height: 50%;
	width: auto;
}

#atomic {
	background-color: #F3F781;
}

#atomic .container {
	background-image: url(../img/atomic-bg.png);
	background-repeat: no-repeat;
	background-position: 10% bottom;
	padding: 20px;
}

#atomic img {
	padding: 40px;
}

#calendar {
	display: none;
}

.overview {
	margin-bottom: 25px;
}

h1, h2, h3, h4, h5{
	font-family: 'Lato', sans-serif;
}

body {
	font-family: 'Lato', sans-serif !important;
	font-weight: 400;
	font-size: 20px;
	color: #555;
	-webkit-font-smoothing: antialiased;
	background-color: #f2f2f2;
	height: 100%;
}

.content {
	margin-top: 70px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	padding-bottom: 20%;
}

.gremien {
	padding-bottom: 60px;
	padding-top: 50px;
	z-index: 99;
}

#push {
	height: 4em;
}


#footer {
	background-color: #333;
	color: #f2f2f2;
	margin-bottom: 20px;
	padding-bottom: 100px;
	padding-top: 20px;
	font-size: 16px;
}

#footer a {
  color: #f2f2f2;
  font-size: 12px;
}

#ini-made {
  padding: 20px;
}
