@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: local('Lato Regular'), local('Lato-Regular'), url(../fonts/lato-regular.woff) format('woff');
}

#ininav {
	position: fixed;
	//z-index: 999;
}

.titlebar {
	height: 300px;
	padding-top: 150px;
	padding-left: 50px;
	margin-top: 50px;
	padding-bottom: 20px;
	background-color: #6df383;
	color: #f2f2f2;
}

#ini-sidebar {
	margin-top: 50px;
}

#ini-sidebar a {
	color: "#555";
}

#hello {
	 width: 100%;
	 height: 50%;
	 padding-top: 10%;
	 padding-bottom: 10%;
	 position: relative;
	 //z-index: 9999;
	 background-color: #f2f2f2;
	 margin: 0px;
}

 #hello h1 {
	 color: #df5cda;
	 font-size: 50px;
}

#corona {
	background-color: #df5c5c;
	padding-top: 50px;
	margin-bottom: 50px;
}

.question {
	width: 100%;
	height: 3em;
	background: none;
	border: none;
	border-bottom: 3px solid #df5cda;
}

#protocol {
	background-color: #8adf5c;
	padding-top: 50px;
}

#primer {
	padding-bottom: 10%; 
}

#down-img {
	background-image: url(../img/pfeil.png);
	background-repeat: no-repeat;
	background-position: center center;
	min-height: 10%;
	display: none;
}

#document-img {
	height: 50%;
	width: auto;
}

#atomic {
	background-color: #dfbf5c;
}

#atomic .container {
	background-image: url(../img/atomic-bg.png);
	background-repeat: no-repeat;
	background-position: 10% bottom;
	padding: 20px;
}

#atomic img {
	padding: 40px;
}

#calendar {
	display: none;
}

#erstifahrt {
	background-color: #57f;
	padding: 40px;
	color: #fff;
}

#erstifahrt a {
	color: #dd5d5d;
}

#iniyourface {
	background-color: #dd5d5d;
	padding: 40px;
}

.overview {
	margin-bottom: 25px;
}

h1, h2, h3, h4, h5{
	font-family: 'Lato', sans-serif;
}

body {
	font-family: 'Lato', sans-serif !important;
	font-weight: 400;
	font-size: 20px;
	color: #555;
	-webkit-font-smoothing: antialiased;
	background-color: #f2f2f2;
	height: 100%;
}

.content {
	margin-top: 50px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	padding-bottom: 20%;
}

.gremien {
	padding-bottom: 60px;
	padding-top: 50px;
	z-index: 99;
}

#push {
	height: 4em;
}


#footer {
	background-color: #333;
	color: #f2f2f2;
	padding-bottom: 100px;
	padding-top: 20px;
	font-size: 16px;
}

#footer a {
  color: #f2f2f2;
  font-size: 12px;
}

#ini-made {
  padding: 20px;
}
