<html>
  <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content>
	<meta name="author" content>

	<title>Ini Physik</title>

	{{ template "inibling/include.html" . }}
	<style type="text/css">
	  #ininav { display: none; }
	</style>
  </head>

  <body>

  {{ template "inibling/menu.html" . }}

	<div id="hello" class="overview">
	    <div class="container">
	    	<div class="row">
	    		<div class="col-md-8 col-md-offset-2 centered">
	    			<h1>Ini Physik</h1>
	    			<h2 id="subtext">Eure Fachinitiative Physik an der TU-Berlin</h2>
	    		</div><!-- /col-md-8 -->
	    	</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /hello -->

	
	<div id="primer">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-4 centered">
					<p>Die Fachinitiative Physik vertritt die Interessen und Wünsche der Physik und NidI Studierenden an der Technischen Universität Berlin. Sie befasst sich mit Fragen und Problemen der Ausbildung, beteiligt sich aktiv an der Gremienarbeit und engagiert sich - auch über die Grenzen unserer Universität hinweg - für eine kontinuierliche Verbesserung der Studienbedingungen. <a href="/wir"> mehr...</a>
					</p>
				</div>
				<div onclick="javascript:$('#protocol').goTo()" onmouseover="" style="cursor: pointer;" id="down-img" class="col-sm-2 col-sm-offset-5 visible-lg visible-sm visible-md">
					<a href="javascript:$('#protocol').goTo()"></a>
				</div>
			</div>
		</div>
	</div>

	<div id="protocol">
		<div class="container">
			<div class="row">
				<div class="col-md-5 centered">
					<img id= "document-img" class="img-responsive" src="static/img/document.png" alt>
				</div>
				<div class="col-md-7">
					<h2>Protokollausleihe</h2>
					<p>
					Die Protokollausleihe kümmert sich darum, dass Studenten vor Prüfungen Protokolle von anderen Studenten zur Verfügung stehen. Protokolle werden in Papierform gegen ein Pfand ausgeliehen und wer eine Prüfung abgelegt hat, ist angehalten, immer auch ein Protokoll seiner eigenen Prüfung zu verfassen. <a href=protokollausleihe> mehr...</a>
					</p>
					<p>
					<!--strong>Aktuelle Ausleihzeit:</strong> Donnerstags: 10-12Uhr.-->
					</p>
				</div>
			</div>
		</div>
	</div>

	<div id="gremien" class="overview">
		<div class="container">
			<div class="row">
				<div class="col-md-7">
					<h2>Gremien</h2>
					<p>
					Wir als Fachinitiative sitzen für euch in verschiedenen Gremien und setzen uns aktiv für eure Belange ein. An dieser Stelle werden wir in Kürze näheres zu unserer Gremienarbeit veröffentlichen. 
					</p>
					<a href="/gremien" class="centered">
					  <button type="button" class="btn btn-default btn-lg">Zu den Gremien</button>
					</a>
				</div>
				<div class="col-md-5 centered">
					<img class="img-responsive" src="static/img/gremien.png" alt>
				</div>
			</div>
		</div>
	</div>

	<div id="atomic" class="overview">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2>Atomic Café</h2>
					<p>
					Das Atomic Café ist ein Ort an dem man sich zwischen Vorlesungen oder danach treffen kann. Wir haben immer Kaffee für euch da und bieten auch sonst einiges an. Das Atomic ist ein studentisch geführtes Café und veranstaltet die Semesterfeiern für dich, wobei natürlich jede helfende Hand willkommen ist, mitzumachen. <a href="/atomic"> mehr...</a>
					</p>
				</div>
			</div>
		</div>
	</div>

	<div id="erstifahrt" class="overview">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2>Erstifahrt</h2>
					<p>
					Für alle Erstsemester gibt es die Erstifahrt, wo ihr euch gegenseitig kennenlernen und auch überaus nützliches fürs Studium lernen könnt. <a href="/erstifahrt">mehr...</a>
					</p>
				</div>
			</div>
		</div>
	</div>

	<div id="iniyourface" class="overwiew">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2>Ini Your Face</h2>
					<p>
					<a href="/iniyourface">Das sind wir...</a>
					</p>
				</div>
			</div>
		</div>
	</div>

	<div id="calendar" class="overview">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2>Termine</h2>
					<table id="ini-calendar" class="table table-hover"> 
					  <tbody> 
						<th>Datum</th><th>Uhrzeit</th><th></th> 
					  </tbody> 
					</table>
				</div>
			</div>
		</div>
	</div>

	<div id="contact">
		<div class="container">
			<div class="row">
				<div class="col-md-4 active item">
					<h2>Kontakt</h2>
					<address>
					  <strong>Ini Physik</strong><br>
					  Raum EW023, TU-Berlin<br>
					  Hardenbergstr. 36<br>
					  10623 Berlin<br>
					  <abbr title="Telefon">Tel:</abbr> (030) 314 22070<br>
					  ini (ät) physik.tu-berlin.de
					</address>
			  </div>
			</div>
		</div>
	</div>
	<div id="push"></div>
	</div>

{{ template "inibling/footer.html" . }}
