<html>
  <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content>
	<meta name="author" content>

	<title>Ini Physik</title>

	{{ template "inibling/include.html" . }}

  </head>

  <body>

  {{ template "inibling/menu.html" . }}

	<div id="hello" class="overview">
	    <div class="container">
	    	<div class="row">
	    		<div class="col-lg-8 col-lg-offset-2 centered">
	    			<h1>Ini Physik</h1>
	    			<h2 class="cool">Eure Fachinitiative Physik an der TU-Berlin</h2>
	    		</div><!-- /col-lg-8 -->
	    	</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /hello -->
	
	<div id="protocol">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 centered">
					<img id= "document-img" class="img-responsive" src="static/img/document.png" alt>
				</div>
				<div class="col-lg-7">
					<h2>Protkollauslheihe</h2>
					<p>
                        Dienstags: 10-12Uhr<br>
                        Oder auch nach Vereinbarung
                    </p>
                    <p>
                        <strong>10€ Pfand</strong> (5€ zurück für ausgeliehenes Protokoll, 5€ für eigenes Protokoll)<br>
                        <strong>Ansprechpartner:</strong> Felix Krüger und Sebastian Praetz<br>
                        <strong>Rückfragen und Vorbestellung:</strong> E-Mail an <a href="mailto:ini@physik.tu-berlin.de">ini@physik.tu-berlin.de</a> mit dem Betreff Protokolle.<br>
                        <strong>Vorlagen: </strong><a href="vorlagen/vorlage.tex">Tex Vorlage</a>, <a href="vorlagen/vorlage.odt">odt Vorlage</a>, <a href="vorlagen/vorlage.doc">doc Vorlage</a>
                    </p>
				</div>
			</div>
		</div>
	</div>

	<div id="gremien" class="overview">
		<div class="container">
			<div class="row">
				<div class="col-lg-7">
					<h2>Gremien</h2>
					<p>
					Wir als Fachinitiative sitzen für euch in Verschiedenen Gremien und setzen uns aktiv für eure Belange ein. An dieser Stelle werden wir in Kürze näheres zu unserer Gremienarbeit veröffentlichen. 
					</p>
					<a href="/gremien/uebersicht" class="centered">
					  <button type="button" class="btn btn-primary btn-lg">Zu den Gremien</button>
					</a>
				</div>
				<div class="col-lg-5 centered">
					<img class="img-responsive" src="static/img/gremien.png" alt>
				</div>
			</div>
		</div>
	</div>

	<div id="atomic" class="overview">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h2>Atomic Café</h2>
					<p>
					Das Atomic Café ist ein Ort an dem man sich zwischen Vorlesungen oder danach treffen kann. Wir haben immer Kaffee für euch da und bieten auch sonst einiges an. Das Atomic ist ein studentisch geführtes Café und veranstaltet die Semesterfeiern für dich, wobei natürlich jede helfende Hand willkkommen ist mitzumachen. <a href="/atomic"> Mehr...</a>
					</p>
				</div>
			</div>
		</div>
	</div>

	<div id="calendar" class="overview">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h2>Termine</h2>
					<table id="ini-calendar" class="table table-hover"> 
					  <tbody> 
						<th>Datum</th><th>Uhrzeit</th><th></th> 
					  </tbody> 
					</table>
				</div>
			</div>
		</div>
	</div>

	<div id="contact">
		<div class="container">
			<div class="active item">
				<h3>Adresse</h3>
				<address>
				  <strong>Ini Physik</strong><br>
				  Raum EW023, TU-Berlin<br>
				  Hardenbergstr. 36<br>
				  10623 Berlin<br>
				  <abbr title="Telefon">Tel:</abbr> (030) 314 22070 
				</address>
			</div>
		</div>
	</div>
	<div id="push"></div>
	</div>

{{ template "inibling/footer.html" . }}
